.employment {
    padding-bottom: 94px;
  }
  
  .employment-list {
    display: flex;
    margin-left: -30px;
  }
  
  .employment-item {
    flex-basis: calc((100% - 3 * 30px) / 3);
    margin-left: 30px;
    position: relative;
  }
  
  .employment-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    margin-bottom: 50px;
    text-align: center;
  }
  
  .employment-text {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--fourth-text-color);
  }
  
  .employment-position {
    background: rgba(47, 48, 58, 0.8);
   
    
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    position: absolute;
    width: 100%;
    bottom: 0;
  }