.features {
    display: flex;
    padding-left: 0px;
  }
  
 
  
  .features-list {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  
  .icon-delivery {
    display: block;
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
    
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .features-title {
    margin-top: 0px;
    margin-bottom: 10px;
  
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
  }
  
  .features-title {
    text-transform: uppercase;
  }
  
  .features-text {
    margin-top: 0px;
    margin-bottom: 0px;
  
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
  }
  