.form-modal {
    display: block;
    /* margin: 40px; */
   
  }
  
  .modal-text {
    margin-bottom: 12px;
  
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
  
    color: #212121;
  }
  
  .input-svg {
    position: relative;
    display: block;
    margin-top: 4px;
    
  }
  
  .form-field {
    margin-bottom: 10px;
  }
  
  .form-svg {
    position: absolute;
    top: 50%;
    left: 12px;
  
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .form-input:focus + & {
      fill: var(--accent-color);
    }
  }
  
  .form-input {
    height: 40px;
    width: 100%;
  
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
  
    padding-left: 42px;
  
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
      outline: none;
     border-color: var(--accent-color);
    }
  }
  
  .form-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
  }
  
 
 
  
  .modal-textarea {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
  
    display: block;
    margin-bottom: 20px;
  }
  
  .textarea-coment {
    
    height: 120px;
    width: 100%;
  
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
  
    margin-top: 4px;
    padding: 12px 16px;
  
    resize: none;
    
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
      outline: none;
      border-color: var(--accent-color);
    }

    &::placeholder {
      font-weight: normal;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.01em;
    
      color: rgba(117, 117, 117, 0.5);
    }
  }
  


  
  .checkbox-input:checked + .checkbox-label::before {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    background-image: url('../images/icon-check.svg');
    background-size: contain;
    background-origin: border-box;
  }
  
  .checkbox-input:focus + .checkbox-label::before {
    border-color: var(--accent-color);
  }
  
  
  .checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
    
  
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
  
    margin-bottom: 30px;

    &::before {
      content:'';
      display: block;
      width: 16px;
      height: 15px;
    
      border: 2px solid 
      #212121;
      border-radius: 2px;
    
      cursor: pointer;
      margin-right: 7px;
    }
  }
  
  .checkbox-link {
    color: var(--accent-color);
  }
  
  
  
  .button-modal-form {
    width: 200px;
    height: 50px;
  
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
  
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
  
    color: #FFFFFF;
  
    display: block;
    margin: 0 auto;
  
    cursor: pointer;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: #188CE8;
    }
  }
  
 
  